*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    background-image: url(img/pattern.png);
    background-color: rgb(0, 198, 248);
    height: 20vh;
}

header img{
    width: 20vw;
    margin-top: 5vh;
    margin-left: 1vw;
}

.margin{
    margin: 0.5vw;
}

.titolo{
    /* margin: 0.5vw; */
    width: 95vw;
}

.titolo h1{
    font-size: 400%;
}

.credits{
    margin-bottom: 5vh;
}

.autor{
    font-size: 200%;
    font-weight:600 ;
    color: rgb(123, 123, 123);
}

p span{
    color: rgb(22, 185, 249);
}

.date{
    font-size: 130%;
    font-weight: 500;
    color: rgb(123, 123, 123);
}

.foto{
}

.FOTOTIm img{
    height: 67vh;
    /* display: inline-block; */
    /* height: 100%; */
    /* width: 100%; */
}

.FOTOTIm{
    width: 95vw;
}

.caption{
    font-weight: 600;
    /* color: rgb(255, 0, 0); */
}

.loremp{
    margin: 2vw 0 2vw 0;
    font-size: 150%;
    font-weight: 500;
}

ul{
    margin: 2vw 0 2vw 0;
    font-size: 150%;
    font-weight: 500;
    margin-left: 1vw;
}
